body {
  font-family: Arial;
  background: #0b132b;
  color: white;
  padding: 14px;
}

h2 {
  text-align: center;
}

.progress {
  background: #1c2541;
  border-radius: 10px;
  overflow: hidden;
  height: 12px;
  margin-bottom: 6px;
}

.bar {
  height: 100%;
  width: 0%;
  background: #5bc0be;
}

.task {
  background: #1c2541;
  padding: 12px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task button {
  background: #3a86ff;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 8px;
  font-weight: bold;
}

.premium {
  border: 1px solid gold;
    }
