body {
  background: black;
  color: white;
  text-align: center;
  font-family: Arial;
}

.video-box {
  margin-top: 20px;
}

video {
  width: 100%;
  max-height: 70vh;
}

button {
  margin-top: 10px;
  padding: 15px;
  font-size: 18px;
  background: red;
  color: white;
  border: none;
}
